body{
    margin: 0;
    padding: 0;
}

.H1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 11vh;
rgb(32, 35, 41);
    margin-top: 0vh;
}
ul {
    list-style-type: none;
    padding: 0;
}

.ContainerLocation{
    padding-bottom: 10vh;
    flex-wrap: wrap;
    padding-left: 10vh;
    width: 214vh;
    background: rgb(39, 43, 51);
    height: 48.4vh;
    margin-top: 10vh;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 5vh;
    display: flex;
}

.BodyLocation{
    position: relative;
    margin-left: 50vh;
    background: #5b5454;
    height: 50vh;
    flex: 0 0 calc(45% - 1rem);
    display: flex;
    flex-direction: row-reverse;
    border-radius: 15px;
    margin-top: 5vh;
    margin-right: -10vh;
}

.BodyLocation img{
    width: 35%;
    position: absolute;
    left: 0;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}



#favoriteLink {
    font-size: 2.5rem;
    color: #232323;
    cursor: pointer;
    margin: 0;
    margin-left: 37vh;
    padding-right: 5vh;
    position: absolute;
}

#favoriteLink a {
    text-decoration: none;
    color: inherit;
}

#FavImage {
    width: 3vh;
    margin-left: 1vh;
}

#Favorite-container{
    width: 5vh;
}


.BodyName{
    display: flex;
    flex-direction: column;
    font-size: 4vh;
    width: 32.5%;
    margin-right: 11vh;
    margin-top: -1vh;
    flex: 0 0 calc(45% - 1rem);
}

.BodyName p {
    margin-bottom: -30px;

}

#ProfilPicture {
    margin-top: 3vh;
    width: 24vh;
}
#favoriteLink {
    font-size: 2.5rem;
    color: #232323;
    cursor: pointer;
    margin-left: 37vh;
    margin-top: -0vh;
    padding-right: 5vh;
    position: absolute;
}

#favoriteLink a {
    text-decoration: none;
    color: inherit;
}

#successMessage {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 77%;
    font-size: 17px;
    width: 200px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 1000;
}

















